body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 10px;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    justify-content: start;
    align-items: start;
    list-style: none;
    font-weight: bold;
    gap: 20px;
    padding: 0;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    text-decoration: underline;
    color: white;
}

footer, .icon{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-family: serif;
    font-weight: bolder;
    font-size: large;
    padding: 10px;
    background-color: green;
}

a{
    cursor: pointer;
}

.state{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.load{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}