body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 10px;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    justify-content: start;
    align-items: start;
    list-style: none;
    font-weight: bold;
    gap: 20px;
    padding: 0;
}

.recepies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
}


section h3{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
}

section img{
    width: 100%;
    object-fit: cover;
}

section span{
    border: 1px solid green;
    background-color: green;
    color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}

footer, .icon{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-family: serif;
    font-weight: bolder;
    font-size: large;
    padding: 10px;
    background-color: green;
}